
 /* 公用样式 */
 * {
     padding: 0;
     margin: 0;
     list-style: none;
     text-decoration: none;
 }


 img {
     display: block;
     width: 100%;
     height: 100%;
 }

 .clerr-both::after {
     content: "";
     display: block;
     width: 0;
     height: 0;
     clear: both;
 }

 .title-box {
     width: 100%;
     font-size: 2vw;
     font-weight: bold;
     color: #ffffff;
     line-height: 4.6vw;
     text-shadow: 0px 0.8vw 0.4vw rgba(255, 124, 177, 0.14);
     margin-bottom: 3.1vw;
 }

 .title-line {
     content: "";
     width: 90%;
     position: relative;
     display: inline-block;
     height: 0.1vw;
     background: #fff;
     vertical-align: middle;
 }

 .fr {
     float: right;
 }

 .three-line {
     text-overflow: -o-ellipsis-lastline;
     overflow: hidden;
     text-overflow: ellipsis;
     display: -webkit-box;
     -webkit-line-clamp: 3;
     line-clamp: 3;
     -webkit-box-orient: vertical;
 }

 .swiper-container {
     width: 100%;
     height: 100%;
 }

 .swiper-slide {
     text-align: center;
     display: -webkit-box;
     display: -ms-flexbox;
     display: -webkit-flex;
     display: flex;
     -webkit-box-pack: center;
     -ms-flex-pack: center;
     -webkit-justify-content: center;
     justify-content: center;
     -webkit-box-align: center;
     -ms-flex-align: center;
     -webkit-align-items: center;
     align-items: center;
 }

 .swiper-pagination {
     margin-bottom: 2vw;
 }

 .swiper-pagination-bullet {
     width: 0.8vw !important;
     height: 0.8vw !important;
     background: #59C5F1 !important;
     background: rgba(0, 0, 0, 0.63) !important;
 }

 .swiper-pagination-bullet-active {
     background: rgb(250, 250, 250) !important;
 }

 /* 容器 */
 .container {
     width: 100%;
     height: 100%;
     position: relative;
     box-sizing: border-box;
     background: url("https://myp.cenqan.com/images/2019/0819/56176105850.png") 0 0 no-repeat;
     background-size: 100% 100%;
     /* background-position: 0 4.52vw; */
 }

 .box {
     padding: 0 5.21%;
 }

 /* 导航 */
 .box1 {
     position: relative;
     height: 4.52vw;
     animation: showPopUp2 2s;
 }

 /* 吸顶 */
 .box1.fixed {
     position: -webkit-sticky;
     position: sticky;
     top: 0;
     z-index: 200;
     animation: showPopUp 1s;
     background: rgba(0, 0, 0, 0.6);
 }

 .box1.fixed.bg{
    /* background: rgb(255, 255, 255); */
 }

 @keyframes showPopUp {
     0% {
         opacity: 0;
         top: -60%;
     }

     100% {
         opacity: 1;
     }
 }

 @keyframes showPopUp2 {
     0% {
         opacity: 0;
         top: -60%;
     }

     100% {
         opacity: 1;
         top: 0;
     }
 }

 .box1 .head-box-left {
     position: relative;
     display: inline-block;
     width: 15vw;
     height: 100%;
 }

 .head-box-left .logo {
     position: relative;
     box-sizing: border-box;
     display: inline-block;
     width: 7vw;
     vertical-align: middle;
     margin-top: 0.5vw;
 }

 .head-box-left .nav-line {
     position: relative;
     height: 50%;
     width: 0.1vw;
     background: rgba(89, 197, 241, 1);
     display: inline-block;
     margin: 0 0.2vw;
     vertical-align: bottom;

 }

 .head-box-left .company-text {
     position: relative;
     display: inline-block;
     font-size: 0.9vw;
     width: 5.89vw;
     color: #59c5f1;
     line-height: 1.2vw;
     vertical-align: bottom;

 }

 .head-box-right {
     position: relative;
     display: inline-block;
     float: right;
     width: 50vw;
 }

 .nav-box {
     display: flex;
     box-sizing: border-box;
 }

 .nav-box li {
     position: relative;
     line-height: 4.52vw;
     display: inline-block;
     flex: 1;
     text-align: right;
     cursor: pointer;
     /* letter-spacing: 0.1vw; */
 }

 .nav-box li span {
     position: relative;
     font-size: 0.9vw;
     text-align: center;
     padding-bottom: 0.5vw;
     color: #fff;
 }

 .nav-box li span:hover {
     font-size: 1vw;
     font-weight: bold;
 }

 .nav-box li.active span::after {
     content: "";
     display: inline-block;
     position: absolute;
     height: 0.1vw;
     width: 100%;
     background: #59C5F1;
     left: 0;
     bottom: 0px;
 }

 .nav-box li.active span {
     font-size: 1vw;
     font-weight: bold;
 }

 /* .nav-box li.color{
    color: #000;
 } */

 /* 首页 */
 .box2 {
     height: 47vw;
 }

 .iphone-android-box {
     position: absolute;
     left: 5.21%;
     top: 41.68vw;
     z-index: 100;
 }

 .iphone {
     margin-bottom: 1.4vw;
 }

 /* 企业动态 */
 .box3 {
     position: relative;
 }

 .news-box {
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     flex-flow: wrap;
     align-items: center;
 }

 .news {
     box-sizing: border-box;
     cursor: pointer;
     flex: 0 0 46.5%;
     height: 21vw;
     margin-bottom: 5.8vw;
 }

 .news-top {
     margin-bottom: 1.9vw;
 }

 .news-top .img-box {
     display: inline-block;
     width: 19.7vw;
     height: 12.8vw;
     border-radius: 1.6vw;
 }

 .news-top .img-box img {
     border-radius: 1.6vw;

 }

 .news-top .new-tt {
     margin-left: 2.2vw;
     display: inline-block;
     width: 18.9vw;
     vertical-align: bottom;
 }

 .new-title {
     font-size: 1.4vw;
     font-weight: bold;
     color: #ffffff;
     line-height: 2.3vw;
     text-shadow: 0px 0.8vw 0.32vw rgba(255, 124, 177, 0.14);
 }

 .new-text {
     font-size: 1.3vw;
     font-weight: bold;
     color: rgba(255, 255, 255, 1);
     line-height: 2.1vw;
     text-shadow: 0px 0.8vw 0.32vw rgba(255, 124, 177, 0.14);
 }

 .news-bottom {
     position: relative;
     width: 100%;
     font-size: 0.9vw;
     color: rgba(255, 255, 255, 1);
     line-height: 1.4vw;
     box-sizing: border-box;
     /* padding-right: 2.5vw; */
 }

 /* 战略合作 */

 .box4 {
     position: relative;
 }

 .cooperation-box {
     display: flex;
     margin-bottom: 7.2vw;
 }

 .cooperation-box li {
     flex: 1;

 }

 .cooperation-box li .img-box {
     width: 16.5vw;
     height: 20vw;
     background: rgba(255, 255, 255, 1);
     box-shadow: 0px 0.8vw 0.3vw 0px rgba(255, 124, 177, 0.14);
     border-radius: 1.5vw;
     margin: auto;
 }

 .cooperation-box-2 {
     width: 100%;
     display: flex;
     flex-flow: wrap;
     justify-content: space-between;
 }

 .cooperation-box-2 li {
     width: 20%;
     height: 11.2vw;
     margin-bottom: 3.3vw;

 }

 /* 品牌商家 */
 .box5 {
     position: relative;
 }

 .cooperation-box-2 li .img-box {
     width: 11.2vw;
     height: 11.2vw;
     border-radius: 50%;
     margin: auto;
     box-shadow: 0px 0.8vw 0.3vw 0px rgba(255, 124, 177, 0.14);
     border-radius: 50%;
 }

 /* 关于我们 */
 .box6 {
     position: relative;
     box-sizing: border-box;
 }

 .left-box {
     width: 45%;
     display: inline-block;
 }

 .about-logo {
     width: 10.5vw;
 }

 .right-box {
     width: 48%;
     display: inline-block;
     float: right;
 }


 .box6 .about-logo-box {
     position: relative;
     display: inline-block;
     width: 15vw;
     height: 5.1vw;
 }

 .about-logo {
     position: relative;
     box-sizing: border-box;
     display: inline-block;
     width: 7vw;
     vertical-align: middle;
     margin-top: 0.5vw;
 }

 .about-line {
     position: relative;
     height: 50%;
     width: 0.1vw;
     background: rgb(255, 255, 255);
     display: inline-block;
     margin: 0 0.2vw;
     vertical-align: bottom;

 }

 .about-company-text {
     position: relative;
     display: inline-block;
     font-size: 0.9vw;
     width: 5.89vw;
     color: #ffffff;
     line-height: 1.2vw;
     vertical-align: bottom;

 }

 .introduce {
     width: 35.7vw;
     font-size: 1vw;
     color: rgba(255, 255, 255, 1);
     line-height: 1.85vw;
     text-shadow: 0px 0.8vw 0.3vw rgba(255, 124, 177, 0.14);
     margin-bottom: 4.4vw;
 }

 .lis {
     position: relative;
     height: 2.9vw;
     margin-bottom: 1vw;
     line-height: 2.9vw;
 }

 .lis .name {
     position: relative;
     width: 7.3vw;
     height: 2.9vw;
     background: rgba(89, 197, 241, 1);
     border-radius: 1.5vw;
     display: inline-block;
     font-size: 1.2vw;
     color: rgba(255, 255, 255, 1);
     text-align: center;
     left: -0.3vw;
     bottom: 0.1vw;
     box-shadow: 0.5vw 0.5vw 0.3vw  rgba(255, 124, 177, 0.34);
 }

 .lis .vision-text {
     position: absolute;
     display: inline-block;
     font-size: 1.2vw;
     font-weight: bold;
     color: rgba(255, 255, 255, 1);
     border: 0.1vw solid rgba(89, 197, 241, 1);
     border-radius: 1.5vw;
     line-height: 2.9vw;
     padding-left: 8vw;
     padding-right: 0.8vw;
     left: 0;
     bottom: 0;
 }

 /* 联系我们 */
 .box7 {
     margin-top: 5.1vw;
     position: relative;
     margin-bottom: 4.2vw;
 }

 .box7 .title-box {
     margin-bottom: 0;
 }

 .box7-left {
     display: inline-block;
     position: relative;
     width: 60%;
     font-size: 1.2vw;
     color: rgba(255, 255, 255, 1);
     line-height: 1.9vw;
     margin-top: 4.7vw;
 }

 .beian {
     font-size: 1.1vw;
     color: rgba(255, 255, 255, 1);
     line-height: 1.3vw;
 }

 .beian a {
     color: #fff;
 }

 .box1-msg {
     margin-bottom: 1.2vw;
 }

 .box1-msg::before {
     content: "";
     display: block;
     position: absolute;
     width: 1.5vw;
     height: 1.5vw;
 }

 .box7-left span {
     margin-left: 3.6vw;
 }

 .box7-left-1::before {
     background: url("https://myp.cenqan.com/images/2019/0819/77178545746.png")0 0;
     background-size: 100% 100%;
 }

 .box7-left-2::before {
     background: url("https://myp.cenqan.com/images/2019/0819/98178685746.png") 0 0;
     background-size: 100% 100%;
 }

 .box7-right {
     position: relative;
     width: 30%;
     display: inline-block;
     float: right;
     text-align: center;
     display: flex;
     justify-content: space-between;
     top: 0;
 }

 .box7-right li {
     flex: 1;
 }

 .box7-right li .img-box {
     width: 10vw;
     height: 10vw;
     float: right;
 }

 .box7-right li .img-box span {
     font-size: 1.1vw;
     color: rgba(255, 255, 255, 1);
     line-height: 2.5vw;
     text-align: center;
 }

 #top {
     display: inline-block;
     width: 3.1vw;
     height: 3.1vw;
     border-radius: 50%;
     line-height: 3.1vw;
     text-align: center;
     position: fixed;
     right: 1.2vw;
     bottom: 4.5vw;
     background: rgba(37, 37, 37, 0.348);
     color: #fff;
     display: none;
     z-index: 9999;
 }

 .guohui {
     display: inline-block;
     width: 1vw;
     height: 1vw;
     /* border: 1px solid #000; */
 }
